DJANGO_ENVIRONMENT=development
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=change-me-in-local-env
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173

POSTGRES_DB=parcela
POSTGRES_USER=parcela_app
POSTGRES_PASSWORD=parcela_app_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DATABASE_URL=postgresql://parcela_app:parcela_app_dev@localhost:5433/parcela

VITE_APP_NAME=app_web_parcela
VITE_API_BASE_URL=http://localhost:8000/api/v1
